<header>
	<div class="slider" slider id="carousel-bg">
		<ul class="slides">
			<li ng-repeat="slide in slides">
				<img ng-src="{{ slide.image }}" alt="">
				<div class="caption center-align">
					<h5 class="h5-text white-text">{{ slide.textSmall }}</h5>					
					<h3 class="h3-text white-text">{{ slide.textBig }}</h3>					
				</div>
                <div class="center-align">
				    <a href="{{ slide.pageLocation }}"><button class="waves-effect waves-light btn">Read More</button></a>                                        
                </div>
			</li>
		</ul>		
	</div>	
</header>
<div class="gallary-block parallax-container">
	<a href="/gallery">
		<h4 class="h3-text center-align white-text">Gallery</h4>
		<h5 class="h5-text center-align white-text">of our dogs</h5>
        <div class="center-align">
            <div class="waves-effect waves-light btn fa fa-camera-retro"></div>
        </div>
	</a>	
    <div parallax><img src="/uploads/stylePhotos/black-labrador-dog.jpg"></div>
</div>
<div class="content-block">
	<div class="region-before"></div>

		<!--<h2 class="title block-title">Our dogs</h2>		-->
		<div class="row container-12">
			<div class="element col s12 m12 l4" ng-repeat="animal in animals" ng-class="{blockafter:$index == 1 || $index == 2}">
                <h2 class="title block-title">Stallions</h2>
                <div class="block-content">
                    <div class="block-view">
                        <h6 class="view-title">
                            <span><a href="#">Mauris fermeum dictum magna</a></span>
                        </h6>
                        <div class="view-body">
                            <span class="view-content">Integer id pharetra velit. Quisque quis ultrices massa, non sollicitudin quam. Proin sit amet neque quis magna vehicula auctor.</span>
                        </div>
                    </div>
                    <div class="element-image waves-effect" ng-style="{ 'background-image': 'url(data:image/jpg;base64,' + animal.photos[0] + ')' }"></div>
                    <div class="element-title btn waves-effect waves-light">
                        <span class="element-content"><a href="#">More info</a></span>
                    </div>
                </div>				
			</div>
		</div>

	<div class="region-after"></div>	
</div>
<div id="trailer" class="overlay">		
    <video  id="video" width="auto" height="100%" autoplay poster="/uploads/stylePhotos/sad-black-dog-full-hd-wallpaper-images-new-best-desktop-background-download-free.jpg" loop muted>
        <source src="/uploads/stylePhotos/Labrador.mp4" type="video/mp4">
    </video>
    <div class="video-text">
        <div class="text-about">
            <h2 class="title block-title waves-effect waves-light">About us</h2>
            <div class="content block-content">
                <h5>Mauris fermeum dictum magnaed loreet aliquam leotellus dolor dapibu</h5>
                <p>Mauris fermeum dictum magna. Sed loreet aliquam leote llus dolor dapibus eget elen tum vel curs eleifend elit. Aenean aucto. wisi et urna. Aliqat volutpaisac turpis. Integer rutrum ante euestibullibero nisl porta vel scelerisque eget malesuada at nequevamet nibh. Etiamursus leo vel m<br>
                lla facilisi. Aenean nec eros. Vestibulum ante ipsu primn faucibus orcis et trices posuere cubspendi<br>
                sse sollicit udilit sed le pharetra augue nec augentuonec in velit vel ipsu<br>
                auue. Nam elit magnonec porta diam eu massa.</p>
                <button class="btn waves-effect waves-light"><a href="#">Read More</a></button>
            </div>
        </div>         
    </div>
</div>
<footer class="parallax-container footer">
    <div parallax><img src="/uploads/stylePhotos/footer-dog.jpg"></div>
    <div class="content-block">
        <div class="row container-12 footer-text">
            <div class="footer-block time-block col s12 m12 l6">
                <h2 class="title block-title">Labs</h2>
                <div class="footer-content">
                    <p>lorem ipsum dolor sit</p>
                    <div class="highlighted">
                        Monday - Friday: 7:30am - 6pm<br>
                        Saturday: 7:30am - Noon
                    </div>
                </div>
            </div>
            <div class="footer-block contact-block col s12 m12 l3">
                <h2 class="title block-title">Contacts</h2>
                <div class="content block-content">
                    <p>9863 - 9867 Mill Road,<br>
                    Cambridge, MG09 99HT<br>
                    Freephone: +1 800 559 6580</p>
                </div>
            </div>
            <div class="footer-block flickr-block col s12 m12 l3">
                <h2 class="title block-title">Flickr</h2>
                <div class="content block-content">
                    <div class="item-list">
                        <ul class="flickr-wrapper">
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c2.staticflickr.com/2/1613/24066106230_5169269428_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c1.staticflickr.com/9/8231/8516066331_8be5558f70_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c2.staticflickr.com/8/7397/14175763916_6af01f60ab_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c1.staticflickr.com/3/2203/2151810671_4b1f430b55_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c1.staticflickr.com/5/4046/4663682328_4177476182_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                            <li class="flickr-item waves-effect waves-light"><a href="#"><img src="http://c1.staticflickr.com/7/6139/5966317910_2008d0cc32_n.jpg" width="44px" height="44px" alt="(Untitled)"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-12 footer-text-bottom row">
            <div class="col s12 m12 l6 copyright-block">
                <div class="content block-content">
                    <div><span class="sitename">Labs</span> © 2016 • <a href="#">Privacy Policy</a></div>
                </div>
            </div>
            <div class="col s12 m12 l6 follow-block">
                <div class="content block-content">
                    <div class="follow-links">
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-facebook waves-effect waves-light"></a></span>
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-googleplus waves-effect waves-light"></a></span>
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-twitter waves-effect waves-light"></a></span>
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-pinterest waves-effect waves-light"></a></span>
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-linkedin waves-effect waves-light"></a></span>
                        <span class="fl-wrapper"><a href="#" class="follow-link fl-instagram waves-effect waves-light"></a></span>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</footer>