<header>
	<div class="slider" slider id="carousel-bg">
		<ul class="slides">
			<li ng-repeat="slide in slides">
				<img ng-src="{{ slide.image }}" alt="">
				<div class="caption center-align">
					<h5 class="h5-text white-text">{{ slide.textSmall }}</h5>					
					<h3 class="h3-text white-text">{{ slide.textBig }}</h3>
					
				</div>
				<a href="{{ slide.pageLocation }}"><button class="waves-effect waves-light btn">Read More</button></a>
			</li>
		</ul>		
	</div>	
</header>
<div class="gallary-block parallax-container">
	<a href="/gallery">
		<h4 class="h3-text center-align white-text">Gallery</h4>
		<h5 class="h5-text center-align white-text">of our dogs</h5>
		<div class="waves-effect waves-light btn fa fa-camera-retro"></div>
	</a>	
    <div parallax><img src="/uploads/stylePhotos/black-labrador-dog.jpg"></div>
</div>
<div class="content-block">
	<div class="region-before"></div>
	<div class="container-12">
		<h2 class="title block-title">Our dogs</h2>
		<!--<div class="row" style="padding: 44px 0 85px;">
			<div class="cards col s12 m4 l4" ng-repeat="animal in animals">
				<div class="card">
					<div class="card__content">
						<h1>Look at this lonely dog</h1>
						<p>Isn't it a sad dog? He is waiting for you.</p>
					</div>
					<img ng-src="data:image/jpg;base64, {{animal.photos[0]}}" alt="" />
					<a href="#"><button class="waves-effect waves-light btn">Look at him</button></a>	
				</div>							
			</div> 
		</div>
		<h2 class="title block-title">Or see all</h2>	-->
		
		<div class="row">
			<div class="element col s12 m4 l4" ng-repeat="animal in animals">
				<div class="element-image waves-effect" ng-style="{ 'background-image': 'url(data:image/jpg;base64,' + animal.photos[0] + ')' }">
					
				</div>
				<div class="element-title btn waves-effect waves-light">
					<span class="element-content"><a href="#">More info</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="region-after"></div>	
</div>
<div id="video">
	<div class="video-container">		
		<video autoplay loop muted>
			<source src="/uploads/stylePhotos/Labrador.mp4" type="video/mp4">
		</video>
	</div>
</div>
<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/dog-425067_1920.jpg"></div>
</div>