html {
}

body { 
  font-family: 'Comfortaa', cursive;
}
nav {
  height: 80px;
  line-height: 80px;
  background-color: transparent;
  margin-top: 150px;
  box-shadow: none;
}
nav .container {
  width: 85%;
  z-index: 3;
}
.brand-logo img {
  width: 10%;
}
section.content {
  margin-top: -230px;
}

section.content.for-nav {
  margin-top: -70px;
}
.gallary-block .btn {
  padding: 0;
  width: 74px;
  height: 74px;
  font-size: 32px;
  line-height: 74px;
  text-align: center;
  border-radius: 50%;
  margin-left: 600px;
  background-color: transparent;
  border: 2px solid;
} 
.gallary-block a:hover .btn{
  background-color: #fcc953;
  border: 2px solid #fcc953;
}
.content-block {
  height: 500px;
  background-color: #fcc953;
  color: white;
  position: relative;
  text-align: center;
  z-index: 85;
  box-shadow: 0 7px 2px -7px #585858;
}
.region-before {
  background: url(/uploads/stylePhotos/region-before-yellow.png) center top no-repeat;
  height: 77px;
  left: 50%;
  margin-left: -206px;
  position: absolute;
  top: -77px;
  width: 412px;
  z-index: 85;
}

.region-before:before {
  background: #fcc953;
  bottom: 0;
  content: '';
  display: block;
  left: -999em;
  position: absolute;
  right: 100%;
  top: 20px;
}
.region-before:after {
  background: #fcc953;
  bottom: 0;
  content: '';
  display: block;
  left: 100%;
  position: absolute;
  right: -28.39em;;
  top: 20px;
}
.region-after {
  background: url(/uploads/stylePhotos/region-after-yellow.png) center top no-repeat;
  bottom: -57px;
  height: 77px;
  left: 50%;
  margin-left: -206px;
  position: absolute;
  width: 412px;
  z-index: 85;
}

.navbar-fixed {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition:  all 500ms ease;
  transition: all 500ms ease;
}
.navbar-fixed nav {
  background-color: black;
  box-shadow: -1px 5px 0 rgba(0,0,0,0.3);
  margin-top: 0;
}

#carousel-bg {
  height: 900px !important;
  box-shadow: 0 8px 3px -7px #2B2B2B;
 
}
#carousel-bg .slides {
  height: 900px !important;
}
#carousel-bg button{
  position: absolute;
  margin-top: -200px;
  margin-left: 470px;
  width: 25%;
  height: 15%;
  border-radius: 35px;
  font-size: xx-large;
  text-transform: none;
  border: 2px solid white;
  background-color: transparent;
}
#carousel-bg button:hover{
  border: 2px solid transparent;
  background-color: #fcc953;
}
#carousel-bg .caption {
  left: 0%;
  width: 100%;
  top: 35%;
}
.slider .indicators {
  z-index: 2;
}
.slider .indicators .indicator-item {
  height: 7px;
  width: 7px;
}
.slider .indicators .indicator-item.active {
  background-color: #fcc953;
  height: 12px;
  width: 12px;
}

.h5-text {
  font-size: 52px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.h3-text {
  font-size: 192px;
  line-height: 150px;
  padding-top: 35px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.parallax-container .h3-text {
  margin-top: 90px;
}
.parallax img {
  max-width: 100%;
}

#video .video-container {
  position: relative;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-image: url(http://livedemo00.template-help.com/joomla_55403/media/video/video.gif);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#video .video-container > video{
  visibility: visible;
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1265px;
  height: auto;
}
.page {
  position: static;
}

.page-pets .content-block {
  padding-bottom: 40px;
  padding-top: 40px;
  height: initial; 
}
.page-pets .content-block img{
  width: 100%; 
}
.page-pets .row.container {
  width: 90%;
}
.page-pets .animal-col {
  margin-bottom: 30px;
}

.page-about-labs .content-block {
  padding-bottom: 40px;
  padding-top: 40px;
  height: initial; 
}
.page-about-labs .content-block img{
  width: 70%; 
}
.page-about-labs .row.container {
  width: 90%;
}
.page-about-labs .animal-col {
  margin-bottom: 30px;
}
.page-login {}