<!--<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>-->
<div class="content-block">
	<div class="region-before"></div>
		<div class="container-12">	
			<p>{{ tagline }}</p>
			
			<div class="row">
				<div class="col s6 m4 offset-m4">
					<h1 class="text-center login-title">Sign up</h1>
						<div class="account-wall"><img src="http://inspirationlighthouse.com/images/home_signin.png"/>				
					
							<form ng-submit="signup()" class="text-center">
								<p>
									<label class="control-label">Username</label>
									<input type="text" placeholder="Username" ng-model="user.username" />
								</p>
								<p>
									<label class="control-label">Password</label>
									<input type="password" placeholder="Password" ng-model="user.password" /><br/>
								</p>
								<p>
									<button type="submit" class="btn btn-primary">Login</button>
								</p>
								<p>
									<i>username: admin<br/>password: admin</i>
								</p>
							</form>
						</div>
						<a href="/signup" class="text-center new-account">Create an account</a>
						<div id="message"></div>      		
				</div>
			</div>	
		</div>
	<div class="region-after"></div>	
</div>