<header>
	<div id="carousel-bg">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
	</div>
  
</header>
<section class="content">
	<div>
    <h1>Home Page</h1>
    <p>{{ tagline }}</p>
  </div>	
</section>
<footer>
	
</footer>