<!--<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>-->
<div class="content-block white">
	<div class="main-before"></div>
	<div class="container">
		<h2 class="title block-title">Gallery</h2>
		<div class="row">
			<div class="material-placeholder animal-col s4 m4 l4 col" ng-repeat="photo in photos">
				<img class="materialboxed responsive-img" materialboxed data-caption="{{photo.text}}" ng-src="data:image/jpg;base64, {{photo.img}}" alt="">
			</div>
		</div>
		
	</div>
	<div class="main-after"></div>	
</div>