<!--<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>-->
<div class="content-block">
	<div class="region-before"></div>
	<div class="row container">
		<a href="#" ng-repeat="photo in photos" class="animal-col col">
			<img class="img-responsive" style="width: 50%" ng-src="data:image/jpg;base64, {{photo.img}}" alt="">
			<span><h3>{{photo.title}}</h3><p>{{photo.text}}</p></span>
		</a>
	</div>
	<div class="region-after"></div>	
</div>