<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>
<div class="row">
	<div class="col">
		<table style="width:0" class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
					<th><button ng-click="show = !show">+</button></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="animal in animals">
					<td>{{animal.name}}</td>
					<td><a ng-click="editAnimal(animal._id)" class="btn btn-small btn-primary">edit</a></td>
					<td><a ng-click="removeAnimal(animal._id)" class="btn btn-small btn-danger">delete</a></td>
				</tr>
			</tbody>
		</table>
		<a ng-click="addAnimal()" class="btn btn-info btn-small">Create New Dog</a>
	</div>		
	<div class="col">
		<table style="width:0" class="table table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th></th>
					<th><button ng-click="show = !show">+</button></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="article in articles">
					<td>{{article.title}}</td>
					<td><a ng-click="editArticle(article._id)" class="btn btn-small btn-primary">edit</a></td>
					<td><a ng-click="removeArticle(article._id)" class="btn btn-small btn-danger">delete</a></td>
				</tr>
			</tbody>
		</table>
		<a ng-click="addArticle()" class="btn btn-info btn-small">Create New Article</a>
	</div>
</div>
<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>