<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>
<div class="container">
	<h1>Animal details</h1>
	<form class="form-horizontal" enctype="multipart/form-data" ng-submit="createArticle(photoFile)">
		<div class="control-group">
			<label for="photo" class="control-label">Upload photos:</label>
			<div class="controls">
				<input type="file" name="photo" id="photo" file-model="photoFile" multiple>
			</div>			
		</div>
		<div class="control-group">			
			<label for="inputTitle" class="control-label">Title:</label>
			<div class="controls">
				<input type="text" id="inputTitle" ng-model="article.title">
			</div>
		</div>
		<div class="control-group">			
			<label for="inputDate" class="control-label">Date:</label>
			<div class="controls">
				<input type="date" id="inputDate" ng-model="article.date">
			</div>
		</div>
		<div class="control-group">			
			<label for="inputShortDesc" class="control-label">Short Description:</label>
			<div class="controls">
				<input type="text" id="inputShortDesc" ng-model="article.shortDesc">
			</div>
		</div>
		<div class="control-group">			
			<label for="inputDescription" class="control-label">Description:</label>
			<div class="controls">
				<textarea id="inputDescription" cols="30" rows="10" ng-model="article.description"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Create</button>				
			</div>
		</div>
	</form>
</div>
<div class="parallax-container">
    <div parallax><img src="/uploads/stylePhotos/weimaraner-puppies-adoption-41.jpg"></div>
</div>