<div class="container">
	<h1>Photo details</h1>
	<form class="form-horizontal" enctype="multipart/form-data" ng-submit="createPhoto(photoFile)">
		<div class="control-group">
			<label for="photo" class="control-label">Upload photos:</label>
			<div class="controls">
				<input type="file" name="photo" id="photo" file-model="photoFile" multiple>
			</div>			
		</div>
		<div class="control-group">			
			<label for="inputTitle" class="control-label">Title:</label>
			<div class="controls">
				<input type="text" id="inputTitle" ng-model="photo.title">
			</div>
		</div>
		<div class="control-group">			
			<label for="inputText" class="control-label">Text:</label>
			<div class="controls">
				<input type="text" id="inputText" ng-model="photo.text">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Create</button>				
			</div>
		</div>
	</form>
</div>