<div class="container">
	<h1>Photo details</h1>
	<form novalidate class="form-horizontal" ng-submit="updatePhoto()">
		<div class="control-group">
			<label for="inputTitle" class="control-label">Title:</label>
			<div class="controls">
				<input type="text" id="inputTitle" ng-model="photo.title">
			</div>
		</div>
		<div class="control-group">			
			<label for="inputText" class="control-label">Text:</label>
			<div class="controls">
				<input type="text" id="inputText" ng-model="photo.text">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Update</button>				
			</div>
		</div>
	</form>
</div>